version: '3.8'

services:
  balanzo_backend:
    container_name: balanzo_backend
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - app-network

  postgres:
    container_name: balanzo_db
    image: postgres:14
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - ./prisma/migrations/20260129152135_init/migration.sql:/app/init.sql
      - pgdata:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER"]
      interval: 5s
      retries: 50

volumes:
  pgdata:

networks:
  app-network:
    driver: bridge
