@use "../styles" as *;

.bottomSheet {
    z-index: 3;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $background-color;
    border-top-left-radius: $padding-defult;
    border-top-right-radius: $padding-defult;
    box-shadow: $bottom-sheet-shadow;

    .handleArea {
        height: $padding-defult;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: grab;
    }

    .handleBar {
        width: calc(2 * $padding-defult);
        height: $default-radius-small;
        background-color: $subtitle-font-color;
        border-radius: $default-radius-small;
    }

    .closeButton {
        position: absolute;
        top: $padding-medium;
        right: $padding-medium;
        border: none;
        padding: 0;
        background: none;
        height: auto;
        width: auto;
        cursor: pointer;
    }

    .closeButton img {
        display: block;
        width: $form-icon-size;
        height: $form-icon-size;
        border-radius: 50%;
    }

    .bottomSheetContent {
        height: calc(100% - $padding-defult);
    }
}
