@use "../styles" as *;

.button {
    align-self: stretch;
    width: 100%;
    border-radius: $default-radius;
    margin-top: $margin-defult;
    padding: $padding-medium;
    font-family: $font-family-normal;
    font-size: $font-size-normal;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.primary {
    background: $highlight-color;
    color: $background-color;
}

.secondary {
    background: $highlight-background-color;
    color: $highlight-color;
}
