@use "../styles" as *;

.categoryRowMobileContainer {
    background-color: $panel-background-color;
    display: flex;
    max-width: $mobile-row-width;
    flex-direction: column;
    overflow: hidden;
    font-family: $font-family-normal;
    white-space: nowrap;
    padding: calc(2 * $padding-defult) $padding-defult $mobile-padding-bottom;
}

.categoryRowMobileTitle {
    font-size: $font-size-heading;
    color: $font-color;
    font-weight: bold;
    width: $mobile-title-width;
    max-width: 100%;
    overflow: hidden;
}

.categoryRowMobileSpacing {
    min-height: $margin-medium;
    width: $mobile-spacing-width;
}

.categoryRowMobileRow.main {
    background-color: transparent;
    border-top: $default-border;
    border-bottom: $default-border;
    display: flex;
    width: 100%;
    justify-content: center;
}

.categoryRowActionIcon {
    cursor: pointer;
}

.categoryRowMobileRow.sub {
    background-color: transparent;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-left: $form-icon-size;

    .categoryRowMobileNameSection,
    .categoryRowMobileTypeSection {
        display: flex;
        width: calc(100% - $form-icon-size);
        align-items: center;
        gap: $padding-small;
    }
}

.categoryRowMobileRow.sub .categoryRowMobileSpacer {
    width: calc($padding-defult - $form-icon-size);
}

.categoryRowMobileHighlight.main {
    background: $highlight-color;
    width: 5px;
    height: 118px;
}

.categoryRowMobileHighlight.sub {
    background: $highlight-background-color;
    width: 5px;
    height: 118px;
}

.categoryRowMobileContent {
    display: flex;
    min-width: $mobile-content-min-width;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: $padding-small $padding-small $padding-small $padding-defult;
    overflow: visible;
}

.categoryRowMobileNameSection,
.categoryRowMobileTypeSection {
    display: flex;
    width: 100%;
    align-items: center;
    gap: $padding-small;
}

.categoryRowMobileNameSection {
    padding-top: $padding-small;
}

.categoryRowMobileTypeSection {
    display: flex;
    width: 100%;
    align-items: center;
    gap: $padding-small;
    margin-top: $padding-small;
    padding-right: $action-cell-width;
    box-sizing: border-box;
    flex-grow: 0;
    overflow: visible;
}

.categoryRowMobileLabel {
    color: $font-color;
    font-size: $font-size-large;
    font-weight: bold;
    width: $mobile-label-width;
    flex-shrink: 0;
    font: bold $font-size-medium-large $font-family-normal;
}

.categoryRowMobileSpacer {
    width: $padding-defult;
    height: $mobile-spacer-height;
    margin: auto 0;
    flex-shrink: 0;
}

.categoryRowMobileInput {
    border-radius: $default-radius;
    background-color: $background-color;
    display: flex;
    min-height: $input-height-small;
    align-items: center;
    gap: $padding-small;
    font-size: $font-size-normal;
    color: #3b3b40;
    flex: 1;
    margin: auto 0;
    padding: 0 $padding-defult;
    border: $default-border;
}

.categoryRowMobileText {
    flex: 1;
    overflow: hidden;
    margin: auto 0;
}

.categoryRowMobileIcon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: $form-icon-size;
    margin: 0;
    margin: auto 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.categoryRowMobileTypeIcon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: $form-icon-size-small;
    align-self: stretch;
    margin: auto 0;
}

.categoryRowMobileBottomSpacing {
    min-height: $padding-defult;
    width: 100%;
}
