@use "../styles" as *;

.categoryRowTableRow.main {
    background: $panel-background-color;
    border-top: $default-border;
    border-bottom: $default-border;
    display: flex;
    width: 100%;
    align-items: center;
    height: $row-height;
}

.nonfirstsub {
    border-top: $default-border;
}

.categoryRowTableRow.sub {
    background: $panel-background-color;
    display: flex;
    width: calc(100% - $sub-indent);
    align-items: center;
    margin-left: $sub-indent;
    margin-right: $sub-indent;
}

.categoryRowHighlightBar.main {
    background: $highlight-color;
    border-bottom: $default-border;
    width: $padding-extra-small;
    height: $row-height;
}

.categoryRowHighlightBar.sub {
    background: $highlight-background-color;
    width: $padding-extra-small;
    height: $row-height;
}

.categoryRowCategoryCell {
    display: flex;
    flex: 1;
    width: auto;
    padding: $margin-medium $padding-defult;
}

.categoryRowCategoryName {
    border-radius: $default-radius;
    display: flex;
    min-height: $input-height-small;
    width: $category-col-width;
    align-items: center;
    padding: 0 $padding-small;
}

.categoryRowNameText {
    flex: 1;
    overflow: hidden;
    font: bold $font-size-medium-large $font-family-normal;
}

.categoryRowTypeCell {
    display: flex;
    width: $category-col-width;
    align-items: center;
    padding: $padding-small $padding-defult;
}

.categoryRowActionCell {
    display: flex;
    width: $action-cell-width-category;
    align-items: center;
    justify-content: center;
    padding: $margin-medium $padding-defult $margin-medium $padding-extra-small;
    border: none;
    background-color: transparent;
}

.categoryRowActionIcon {
    width: $form-icon-size;
    height: $form-icon-size;
    object-fit: contain;
}
