.categoryRowMobileContainer {
    background-color: #f9f9f9;
    display: flex;
    max-width: 375px;
    flex-direction: column;
    overflow: hidden;
    font-family: Inter, sans-serif;
    white-space: nowrap;
    padding: 40px 20px 175px;
}

.categoryRowMobileTitle {
    font-size: 24px;
    color: var(--Base-Shade-100, #000);
    font-weight: 700;
    width: 236px;
    max-width: 100%;
    overflow: hidden;
}

.categoryRowMobileSpacing {
    min-height: 15px;
    width: 69px;
}

.categoryRowMobileRow.main {
    background-color: transparent;
    border-top: 1px solid rgba(223, 223, 223, 1);
    border-bottom: 1px solid rgba(223, 223, 223, 1);
    display: flex;
    width: 100%;
    justify-content: center;
}

.categoryRowActionIcon {
    cursor: pointer;
}

.categoryRowMobileRow.sub {
    background-color: transparent;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-left: 30px;

    .categoryRowMobileNameSection,
    .categoryRowMobileTypeSection {
        display: flex;
        width: calc(100% - 30px);
        align-items: center;
        gap: 10px;
    }
}

.categoryRowMobileRow.sub .categoryRowMobileSpacer {
    width: calc(20px - 30px);
}

.categoryRowMobileHighlight.main {
    background: var(--highlight, #3772ff);
    width: 5px;
    height: 118px;
}

.categoryRowMobileHighlight.sub {
    background: #ebf1ff;
    width: 5px;
    height: 118px;
}

.categoryRowMobileContent {
    display: flex;
    min-width: 240px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 10px 10px 10px 20px;
    overflow: visible;
}

.categoryRowMobileNameSection,
.categoryRowMobileTypeSection {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
}

.categoryRowMobileNameSection {
    padding-top: 10px;
}

.categoryRowMobileTypeSection {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    padding-right: 40px;
    box-sizing: border-box;
    flex-grow: 0;
    overflow: visible;
}

.categoryRowMobileLabel {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    width: 56px;
    flex-shrink: 0;
    font:
        700 18px Inter,
        sans-serif;
}

.categoryRowMobileSpacer {
    width: 20px;
    height: 29px;
    margin: auto 0;
    flex-shrink: 0;
}

.categoryRowMobileInput {
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    min-height: 35px;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    color: #3b3b40;
    font-weight: 400;
    flex: 1;
    margin: auto 0;
    padding: 0 12px;
    border: 1px solid #d9d9d9;
}

.categoryRowMobileText {
    flex: 1;
    overflow: hidden;
    margin: auto 0;
}

.categoryRowMobileIcon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 30px;
    margin: 0px;
    margin: auto 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.categoryRowMobileTypeIcon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
    align-self: stretch;
    margin: auto 0;
}

.categoryRowMobileBottomSpacing {
    min-height: 20px;
    width: 100%;
}
