.categoryRowTableRow.main {
    background: rgba(248, 248, 248, 1);
    border-top: 1px solid rgba(223, 223, 223, 1);
    border-bottom: 1px solid rgba(223, 223, 223, 1);
    display: flex;
    width: 100%;
    align-items: center;
    height: 70px;
}

.nonfirstsub {
    border-top: 1px solid rgba(223, 223, 223, 1);
}

.categoryRowTableRow.sub {
    background: rgba(248, 248, 248, 1);
    display: flex;
    width: calc(100% - 100px);
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}

.categoryRowHighlightBar.main {
    background: var(--highlight, #3772ff);
    border-bottom: 1px solid rgba(223, 223, 223, 1);
    width: 5px;
    height: 70px;
}

.categoryRowHighlightBar.sub {
    background: #ebf1ff;
    width: 5px;
    height: 70px;
}

.categoryRowCategoryCell {
    display: flex;
    flex: 1;
    width: auto;
    padding: 16px 20px;
}

.categoryRowCategoryName {
    border-radius: 8px;
    display: flex;
    min-height: 35px;
    width: 160px;
    align-items: center;
    padding: 0 12px;
}

.categoryRowNameText {
    flex: 1;
    overflow: hidden;
    font:
        700 18px Inter,
        sans-serif;
}

.categoryRowTypeCell {
    display: flex;
    width: 160px;
    align-items: center;
    padding: 11px 20px;
}

.categoryRowActionCell {
    display: flex;
    width: 57px;
    align-items: center;
    justify-content: center;
    padding: 14px 20px 14px 7px;
    border: none;
    background-color: transparent;
}

.categoryRowActionIcon {
    width: 30px;
    height: 30px;
    object-fit: contain;
}
