@use "../styles" as *;

.plot {
    height: 100%;
    margin: 0 auto;
    padding: $padding-small $padding-defult 0 $padding-defult;
    border-radius: $padding-defult;
    background-color: $background-color;
    border: $default-border;
    box-sizing: border-box;
    width: 100%;

    .title {
        font-family: $font-family-normal;
        font-size: $font-size-small;
        font-weight: bold;
        color: $font-color;
    }

    @media (max-width: $mobile-breakpoint) {
        margin-top: $margin-medium;
    }
}
