@use "../styles" as *;

.container {
    display: flex;
    align-items: center;
    gap: $margin-medium;
    padding: 0 $padding-extra-small;
    color: $font-color;
    font: normal $default-font-size $font-family-normal;
}

.date {
    white-space: nowrap;
}

.divider {
    flex: 1;
    border-bottom: $border-width-medium dashed $dark-border-color;
    height: 0;
}
