.container {
    display: flex;
    align-items: center;
    gap: 17px;
    padding: 0 7px;
    color: #2a2a33;
    font:
        500 16px Inter,
        sans-serif;
}

.date {
    white-space: nowrap;
}

.divider {
    flex: 1;
    border-bottom: 2px dashed #9f9fac;
    height: 0;
}
