@use "../styles" as *;

.dropdown {
    align-self: center;
    width: 100%;
    max-width: 100%;
    line-height: $input-height;
    height: $input-height;
    padding: 0 $padding-small;
    gap: $padding-small;
    overflow: hidden;
    border: $default-border;
    border-radius: $default-radius;
    box-sizing: border-box;
    background-color: transparent;
    color: $font-color;
    font-family: $font-family-normal;
    align-items: center;
    border-color: $dark-border-color;
    background-color: $background-color;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
    text-align: left !important;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="%23999" d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right $padding-small center;
    background-size: $padding-small $padding-small;
}

.lightBorder {
    border-color: $border-color;
}

.mini {
    line-height: $input-height-small;
    height: $input-height-small;
}
