@use "../styles" as *;

.inputField {
    align-self: center;
    width: 100%;
    max-width: 100%;
    line-height: $input-height;
    height: $input-height;
    padding: 0 $padding-small;
    gap: $padding-small;
    overflow: hidden;
    border: $border-width-thin solid transparent;
    border-radius: $default-radius;
    box-sizing: border-box;
    background-color: transparent;
    color: #292929;
    font-family: "Roboto Mono", sans-serif;
    align-items: center;
    border-color: #b1b1bb;
    background-color: $background-color;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
}

.inputField.largeText {
    font: bold $font-size-medium-large $font-family-normal;
}

.inputField.mini {
    line-height: $input-height-small;
    height: $input-height-small;
}

.inputField.labelLike {
    border-color: transparent;
    background-color: transparent;

    &:focus {
        outline: none;
        border-color: #b1b1bb;
        background-color: $background-color;
    }
}
