@use "../styles" as *;

.card {
    border-radius: $padding-defult;
    background: $background-color;
    display: inline-flex;
    flex-direction: column;
    font-family: Inter, sans-serif;
    justify-content: start;
    padding: $padding-small $padding-defult 0 $padding-defult;
    border: $default-border;
    box-sizing: border-box;
    width: 100%;
    height: $metric-card-height;

    .title {
        font-family: $font-family-normal;
        font-size: $font-size-small;
        font-weight: bold;
        color: $font-color;
    }

    .value {
        font-size: $font-size-large;
        font-weight: bold;
        color: $font-color;
        margin-top: $margin-small;

        &.positive {
            color: $income-color;
        }

        &.negative {
            color: $expense-color;
        }
    }
}
