@use "../styles" as *;

.new-category-row {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    border: none;
    border-left: $default-border;
    border-top: $default-border;
    border-radius: 0;
    height: $row-height;
    align-items: center;
    gap: $margin-defult;
    padding-left: $padding-defult;
    cursor: pointer;
}

.new-category-row.sub {
    margin-left: calc(5 * $margin-defult);
}

.new-category-row.sub.mobile {
    margin-left: calc($margin-defult + $margin-small);
}

.new-category-row-text {
    font-family: $font-family-normal;
    color: $subtitle-font-color;
}

.last {
    border-bottom: $default-border;
}
