@use "../styles" as *;

.new-category-row {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    border: none;
    border-left: 1px solid rgba(223, 223, 223, 1);
    border-top: 1px solid rgba(223, 223, 223, 1);
    border-radius: 0px;
    height: $row-height;
    align-items: center;
    gap: $margin-defult;
    padding-left: $padding-defult;
    cursor: pointer;
}

.new-category-row.sub {
    margin-left: 100px;
}

.new-category-row.sub.mobile {
    margin-left: 30px;
}

.new-category-row-text {
    font-family: $font-family-normal;
    color: #5c5c5c;
    font-weight: 500;
}

.last {
    border-bottom: 1px solid rgba(223, 223, 223, 1);
}
