.sidebar {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    width: 182px;
    color: #000;
    text-align: center;
    letter-spacing: 0.2px;
    font:
        600 13px Inter,
        sans-serif;

    .navigationItems {
        flex-grow: 1;
    }

    .lastItem {
        margin-top: auto;
    }
}
