@use "../styles" as *;

.navButton {
    border: none;
    background: none;
    border-radius: $default-radius;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:first-child {
        margin-top: 0;
    }

    &.active {
        background-color: rgba($highlight-color, 0.1);
        color: $highlight-color;
    }

    @media screen and (min-width: 601px) {
        min-height: $input-height;
        width: 100%;
        gap: $padding-small;
        padding: 0 $padding-small;
        margin-top: $padding-small;
        width: calc(100% - $margin-defult);
    }
}

.navLabel {
    flex: 1;
    text-align: left;
    font: bold $font-size-small $font-family-normal;
}

svg {
    color: $highlight-color;
    fill: $highlight-color;
}
