@use "../styles" as *;

.sidebar {
    display: flex;
    flex-direction: column;
    padding-right: $padding-defult;
    width: $sidebar-width;
    color: $font-color;
    text-align: center;
    font: normal $font-size-small $font-family-normal;

    .navigationItems {
        flex-grow: 1;
    }

    .lastItem {
        margin-top: auto;
    }
}
