@use "../styles" as *;

.templateContainer {
    border-radius: $default-radius;
    background: rgba(249, 249, 249, 1);
    box-shadow: 0 0 20px -6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.templateCard {
    display: inline-flex;
    flex-direction: column;
    font-family: Inter, sans-serif;
    justify-content: start;
    padding: $padding-defult 40px $padding-defult $padding-defult;
    border: $default-border;
    box-sizing: border-box;
    border-radius: $border-radius-large;
    background: $background-color;
    border: $default-border;
    position: relative;
    width: fit-content;

    @media screen and (max-width: $mobile-breakpoint) {
        width: 100%;
    }
}

.templateCard.new {
    border: $border-width-medium dashed $dark-border-color;
    padding: $padding-defult;
}

.templateHeading {
    color: var(--Base-Shade-100, #000);
    font: bold $font-size-heading $font-family-normal;
    margin: 0;
}

.templateGridContainer {
    display: flex;
    flex-wrap: wrap;
    gap: $margin-medium;
    margin: $margin-defult;
}

.templateTemplateCard {
    border-radius: $border-radius-large;
    background: $background-color;
    border: $default-border;
    padding: $padding-defult;
    display: flex;
    flex-direction: column;
}

.templateNewTemplateCard {
    border: $border-width-medium dashed $font-color;
}

.templateCardHeader {
    display: flex;
    align-items: center;
    gap: $padding-small;
}

.templateCardTitle {
    color: $font-color;
    font: bold $default-font-size $font-family-normal;
}

.templateNewCardTitle {
    color: $subtitle-font-color;
}

.templateSpacer {
    flex: 1;
}

.templateIconWrapper {
    position: absolute;
    top: $padding-small;
    right: $padding-small;
    cursor: pointer;

    .templateCard {
        position: relative;
    }
}

.templateIcon {
    width: $form-icon-size-small;
    aspect-ratio: 1;
    object-fit: contain;
}

.templateActionButton {
    display: flex;
    align-items: center;
    gap: $margin-medium;
    background: $highlight-background-color;
    border-radius: $border-radius-button;
    padding: $padding-extra-small $padding-small;
    margin-top: $padding-defult;
    color: $highlight-color;
    font: normal $font-size-small $font-family-normal;

    width: fit-content;
    cursor: pointer;
}

.templateActionIcon {
    width: $form-icon-size-small;
    aspect-ratio: 1;
    object-fit: contain;
}
