.templateContainer {
    border-radius: 8px;
    background: rgba(249, 249, 249, 1);
    box-shadow: 0 0 20px -6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.templateCard {
    display: inline-flex;
    flex-direction: column;
    font-family: Inter, sans-serif;
    justify-content: start;
    padding: 20px 40px 20px 20px;
    border: 1px solid rgba(239, 240, 246, 1);
    box-sizing: border-box;
    border-radius: 20px;
    background: #fff;
    border: 1px solid #eff0f6;
    position: relative;
    width: fit-content;

    @media screen and (max-width: 600px) {
        width: 100%;
    }
}

.templateCard.new {
    border: 2px dashed #9f9fac;
    padding: 20px 20px 20px 20px;
}

.templateHeading {
    color: var(--Base-Shade-100, #000);
    font:
        700 24px Inter,
        sans-serif;
    margin: 0;
}

.templateGridContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 20px;
}

.templateTemplateCard {
    border-radius: 20px;
    background: #fff;
    border: 1px solid rgba(239, 240, 246, 1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 177px;
}

.templateNewTemplateCard {
    border: 2px dashed rgba(42, 42, 51, 1);
    width: 153px;
}

.templateCardHeader {
    display: flex;
    align-items: center;
    gap: 10px;
}

.templateCardTitle {
    color: var(--Base-Shade-70, rgba(0, 0, 0, 0.7));
    font:
        700 16px Inter,
        sans-serif;
    letter-spacing: -0.15px;
    font-feature-settings:
        "liga" off,
        "clig" off;
}

.templateNewCardTitle {
    color: rgba(92, 92, 92, 1);
}

.templateSpacer {
    flex: 1;
}

.templateIconWrapper {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;

    .templateCard {
        position: relative;
    }
}

.templateIcon {
    width: 24px;
    aspect-ratio: 1;
    object-fit: contain;
}

.templateActionButton {
    display: flex;
    align-items: center;
    gap: 10px;
    background: rgba(235, 241, 255, 1);
    border-radius: 10px;
    padding: 0 10px;
    margin-top: 20px;
    color: var(--highlight, #3772ff);
    font:
        400 14px Inter,
        sans-serif;
    letter-spacing: -0.15px;
    height: 33px;
    width: fit-content;
    cursor: pointer;
}

.templateActionText {
    font-feature-settings:
        "liga" off,
        "clig" off;
}

.templateActionIcon {
    width: 23px;
    aspect-ratio: 1;
    object-fit: contain;
}
