@use "../styles" as *;

.transactionRow {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 100%;

    &:nth-child(even) {
        background: $panel-background-color;
    }

    &:nth-child(odd) {
        background: $dark-table-row-color;
    }
}

.transactionRowCell {
    flex: 1;
    padding: $padding-medium $padding-defult;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.transactionRowitemCell,
.transactionRowamountCell,
.transactionRowcategoryPill,
.transactionRowsubcategoryPill,
.transactionRowdateCell {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.transactionRowItemCell {
    color: $font-color;
    font-family: $font-family-normal;
    font-size: $font-size-normal;
    font-weight: bold;
}

.transactionRowAmountCell {
    color: $font-color;
    font-family: $font-family-normal;
    font-size: $font-size-normal;
}

.transactionRowCategoryPill,
.transactionRowSubcategoryPill {
    border-radius: $default-radius-small;
    padding: $padding-extra-small $padding-small;
    font-family: $font-family-monospace;
    font-size: $font-size-small;
}

.transactionRowCategoryPill {
    background: $blue-pill-background-color;
    color: $blue-pill-text-color;
}

.transactionRowSubcategoryPill {
    background: $yellow-pill-background-color;
    color: $yellow-pill-text-color;
}

.transactionRowDateCell,
.transactionRowActionCell {
    color: $font-color;
    font-family: $font-family-normal;
    font-size: $font-size-normal;
}

.transactionRowActionCell {
    width: $action-cell-width;
    flex-shrink: 0;
    display: flex;
    justify-content: start;
}

.transactionRowActionButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $form-icon-size;
    height: $form-icon-size;
    border: none;
    background-color: transparent;
}

.transactionRowActionIcon {
    width: $form-icon-size;
    height: $form-icon-size;
    object-fit: contain;
}
