.transactionRow {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow: hidden;
    min-height: 57px;
    width: 100%;

    &:nth-child(even) {
        background: #f8f8f8;
    }

    &:nth-child(odd) {
        background: #ededed;
    }
}

.transactionRowCell {
    flex: 1;
    padding: 16px 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.transactionRowitemCell,
.transactionRowamountCell,
.transactionRowcategoryPill,
.transactionRowsubcategoryPill,
.transactionRowdateCell {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.transactionRowItemCell {
    color: #323232;
    font:
        700 16px "Inter",
        sans-serif;
}

.transactionRowAmountCell {
    color: #5c5c5c;
    font:
        700 16px "Roboto Mono",
        monospace;
}

.transactionRowCategoryPill,
.transactionRowSubcategoryPill {
    border-radius: 4px;
    padding: 4px 8px;
    font:
        400 14px/1.2 "Azeret Mono",
        monospace;
}

.transactionRowCategoryPill {
    background: #ccefff;
    color: #004466;
}

.transactionRowSubcategoryPill {
    background: #ffffcc;
    color: #666600;
}

.transactionRowDateCell,
.transactionRowActionCell {
    color: #000;
    font:
        400 16px "Inter",
        sans-serif;
}

.transactionRowActionCell {
    width: 50px;
    flex-shrink: 0;
    display: flex;
    justify-content: start;
}

.transactionRowActionButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 3px;
    border: none;
    background-color: transparent;
}

.transactionRowActionIcon {
    width: 24px;
    height: 24px;
    object-fit: contain;
}
