.transactionCard {
    display: inline-flex;
    flex-direction: column;
    font-family: Inter, sans-serif;
    justify-content: start;
    padding: 0px 10px 20px 20px;
    border: 1px solid rgba(239, 240, 246, 1);
    box-sizing: border-box;
    width: 100%;
    border-radius: 20px;
    background: #fff;
    border: 1px solid #eff0f6;
}

.transactionCardHeader {
    display: flex;
    min-height: 35px;
    align-items: center;
    gap: 12px;
    justify-content: start;
}

.transactionCardItemName {
    color: #2a2a33;
    font:
        700 18px Inter,
        sans-serif;
}

.transactionCardAmount {
    color: #2a2a33;
    font:
        700 16px "Roboto Mono",
        monospace;
}

.transactionCardIconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    padding: 3px 0;
    margin-left: auto;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.transactionCardIcon {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.transactionCardTags {
    display: flex;
    margin-top: 10px;
    align-items: center;
    gap: 7px;
    padding: 4px 0;
    font:
        400 14px/1.2 "Azeret Mono",
        monospace;
}

.transactionCardCategoryTag {
    border-radius: 4px;
    background: #ccefff;
    color: #046;
    padding: 4px 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.transactionCardStoreTag {
    border-radius: 4px;
    background: #ffffcc;
    color: #666600;
    padding: 4px 8px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
