@use "../styles" as *;

.transactionCard {
    display: inline-flex;
    flex-direction: column;
    font-family: Inter, sans-serif;
    justify-content: start;
    padding: $padding-defult;
    border: $default-border;
    box-sizing: border-box;
    width: 100%;
    border-radius: $padding-defult;
    background: $background-color;
}

.transactionCardHeader {
    display: flex;
    align-items: center;
    gap: $padding-medium;
    justify-content: start;
}

.transactionCardItemName {
    color: $font-color;
    font-weight: bold;
    font-size: $font-size-normal;
}

.transactionCardAmount {
    color: $font-color;
    font-weight: bold;
    font-size: $font-size-normal;
    font-family: $font-family-normal;
}

.transactionCardIconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $form-icon-size;
    margin-left: auto;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.transactionCardIcon {
    width: $form-icon-size;
    height: $form-icon-size;
    object-fit: contain;
}

.transactionCardTags {
    display: flex;
    margin-top: $margin-small;
    align-items: center;
    gap: $padding-small;
    padding: $padding-extra-small 0;
    font-family: $font-family-monospace;
    font-size: $font-size-small;
}

.transactionCardCategoryTag {
    border-radius: $default-radius-small;
    background: $blue-pill-background-color;
    color: $blue-pill-text-color;
    padding: $default-radius-small $padding-small;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.transactionCardStoreTag {
    border-radius: $default-radius-small;
    background: $yellow-pill-background-color;
    color: $yellow-pill-text-color;
    padding: $default-radius-small $padding-small;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.transactionPriceWrapper {
    display: flex;
    align-items: center;
    gap: $padding-small;
}

.transactionCardItemInfo {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: $padding-extra-small;
}
