version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: local_mongodb
    ports:
      - "9000:27017"
    volumes:
      - ./init:/docker-entrypoint-initdb.d
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin
