@use "../../styles" as *;

.inactive {
    fill: $font-color;
}

.active {
    fill: $highlight-color;
}

.addButton {
    background-color: transparent;
    width: calc(2 * $margin-defult);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: $padding-small;
    border-radius: $default-radius;
    cursor: pointer;
}
