.categories-container {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: start;
    margin: 20px;
}

.categories-spacer {
    min-height: 20px;
    width: 100%;
}

.categories-table-container {
    display: flex;
    flex-direction: column;
}