.card-list {
    display: flex;
    gap: 20px;
    padding: 0px 10px 10px 10px;
    margin: 0px 10px 10px 10px;

    @media (max-width: 600px) {
        margin-top: 0;
        flex-direction: column;
        gap: 0px;
        padding: 0px 10px 0px 10px;
        margin: 0px 10px 0px 10px;
    }
}