.layout {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
}

.content {
  border-radius: 8px;
  background-color: #F9F9F9;
  min-width: 240px;
  width: 100%;
}

.action-button {
  border: none;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background-color: #3772ff;
  display: flex;
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  right: 55px;
}