.layout {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;

    .content {
        border-radius: 8px;
        background-color: #F9F9F9;
        min-width: 240px;
        width: 100%;
        overflow: auto;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        .menu-header-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px;
            border: none;
            margin: 20px;

            .content-title {
                font-size: 24px;
                font-weight: 700;
                font-family: 'Inter', sans-serif;
            }

            .year-selector-container {
                width: 200px;
            }
        }

        .action-button {
            border: none;
            justify-content: center;
            align-items: center;
            border-radius: 25px;
            background-color: #3772ff;
            display: flex;
            width: 50px;
            height: 50px;
            cursor: pointer;
            position: absolute;
            bottom: 50px;
            right: 55px;

            @media (max-width: 600px) {
                display: none;
            }
        }
    }

    .content.disabled-scrolling {
        overflow: hidden;
    }

    @media (max-width: 600px) {
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
        box-sizing: border-box;
        padding: 0;

        .content {
            border-radius: 0;
            flex-grow: 1;
            overflow: auto;
            max-height: calc(100vh - 80px);
        }

        .content-title {
            margin: 60px 20px 20px 20px;
        }

        .year-selector-container {
            margin: 60px 20px 20px 20px;
        }
    }
}