.category-row-table-row.main {
    background: rgba(248, 248, 248, 1);
    border-top: 1px solid rgba(223, 223, 223, 1);
    border-bottom: 1px solid rgba(223, 223, 223, 1);
    display: flex;
    min-height: 70px;
    width: 100%;
    align-items: center;
}

.nonfirstsub {
    border-top: 1px solid rgba(223, 223, 223, 1);
}

.category-row-table-row.sub {
    background: rgba(248, 248, 248, 1);
    display: flex;
    min-height: 70px;
    width: calc(100% - 100px);
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}

.category-row-highlight-bar.main {
    background: var(--highlight, #3772ff);
    border-bottom: 1px solid rgba(223, 223, 223, 1);
    width: 5px;
    height: 70px;
}

.category-row-highlight-bar.sub {
    background: #ebf1ff;
    width: 5px;
    height: 70px;
}

.category-row-category-cell {
    display: flex;
    flex: 1;
    width: auto;
    padding: 16px 20px;
}

.category-row-category-name {
    border-radius: 8px;
    display: flex;
    min-height: 35px;
    width: 278px;
    align-items: center;
    padding: 0 12px;
}

.category-row-name-text {
    flex: 1;
    overflow: hidden;
    font: 700 18px Inter, sans-serif;
}

.category-row-type-cell {
    display: flex;
    width: 237px;
    align-items: center;
    padding: 11px 20px;
}

.category-row-action-cell {
    display: flex;
    width: 57px;
    align-items: center;
    justify-content: center;
    padding: 14px 20px 14px 7px;
}

.category-row-action-con {
    width: 30px;
    height: 30px;
    object-fit: contain;
}