.plot {
    height: 100%;
    margin: 0 auto;
    padding: 10px 20px 0px 20px;
    border-radius: 20px;
    background-color: #ffffff;
    border: 1px solid rgba(239, 240, 246, 1);
    box-sizing: border-box;
    width: 100%;

    .title {
        font-family: Inter, sans-serif;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: -0.15px;
    }

    @media (max-width: 600px) {
        margin-top: 10px;
    }
}
