.plot {
    height: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    background-color: #FFFFFF;
    border: 1px solid rgba(239, 240, 246, 1);
    box-sizing: border-box;

    .title {
        font-family: Inter, sans-serif;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: -0.15px;
    }

    @media (max-width: 600px) {
        margin-top: 10px;
    }
}