.date-divider-container {
    display: flex;
    align-items: center;
    gap: 17px;
    padding: 0 7px;
    color: #2a2a33;
    font:
        500 16px Inter,
        sans-serif;
    margin: 15px 0;
}

.date-divider-date {
    white-space: nowrap;
}

.date-divider-divider {
    flex: 1;
    height: 1px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='1' stroke-dasharray='1%2c 8' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
}
