.input {
    align-self: stretch;
    width: 100%;
    max-width: 100%;
    min-height: 45px;
    padding: 0 10px;
    margin-top: 20px;
    gap: 10px;
    overflow: hidden;
    border: 1px solid #b1b1bb;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #fff;
    color: #292929;
    font-family: 'Roboto Mono', sans-serif;
    align-items: center;

    &:focus {
        outline: none;
        border-color: initial;
    }
}