.card {
    border-radius: 20px;
    background: #fff;
    display: inline-flex;
    flex-direction: column;
    font-family: Inter, sans-serif;
    justify-content: start;
    padding: 20px 20px 0px 20px;
    border: 1px solid rgba(239, 240, 246, 1);
    box-sizing: border-box;
    width: 100%;
    height: 120px;

    .title {

        font-size: 14px;
        font-weight: 500;
        letter-spacing: -0.15px;
    }

    .value {
        font-size: 24px;
        font-weight: 700;
        margin-top: 10px;

        &.positive {
            color: #59ce8f;
        }

        &.negative {
            color: #FF5A5A;
        }
    }

    @media (max-width: 600px) {
        margin-top: 10px;
    }
}