.sidebar.mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Distributes items equally */
  align-items: center; /* Centers items vertically */
  color: #000;
  text-align: center;
  letter-spacing: 0.2px;
  height: 64px;
  width: 100%;
  margin-bottom: 20px;
  font: 600 13px Inter, sans-serif;
  position: fixed; /* Fixed positioning to always stick at the bottom */
  bottom: 0; /* Anchors to the bottom of the viewport */
  left: 0;
  background-color: #fff;
}

.navigation-items.mobile {
  flex-grow: 1;
  display: flex;
  justify-content: space-between; /* Evenly spaces children elements within this container */
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  height: 40;
}