.new-category-row {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    border: none;
    border-left: 1px solid rgba(223, 223, 223, 1);
    border-top: 1px solid rgba(223, 223, 223, 1);
    border-radius: 0px;
    height: 70px;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
}

.new-category-row.sub {
    margin-left: 100px;
}

.new-category-row.sub.mobile {
    margin-left: 30px;
}

.new-category-row-text {
    font-family: Inter, sans-serif;
    color: #5C5C5C;
    font-weight: 500;
}