
.nav-button {
  border: none;
  background: none;
  border-radius: 8px;
  display: flex;
  min-height: 45px;
  width: 100%;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
  margin-top: 10px;
  cursor: pointer;
}

.nav-button:first-child {
  margin-top: 0;
}

.active {
  background-color: rgba(55, 114, 255, 0.1);
  color: #3772ff;
}

.nav-icon {
  aspect-ratio: 1;
  object-fit: contain;
  width: 30px;
}

.nav-label {
  flex: 1;
  text-align: left;
  font: 700 13px Inter, sans-serif;
}

svg {
  color: #3772ff;
  fill: #3772ff;
}
