@use "../styles" as *;

.categoriesContainer {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: start;
    margin: $margin-defult;
}

.categoriesSpacer {
    min-height: $margin-defult;
    width: 100%;
}

.categoriesTableContainer {
    display: flex;
    flex-direction: column;
}
