.categoriesContainer {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: start;
    margin: 20px;
}

.categoriesSpacer {
    min-height: 20px;
    width: 100%;
}

.categoriesTableContainer {
    display: flex;
    flex-direction: column;
}
