@use "../styles" as *;

.newItemContainer {
    background: $background-color;
    display: flex;
    overflow: hidden;
    font-family: $font-family-normal;
    font-size: $font-size-normal;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.newItemContent {
    display: flex;
    width: $mobile-breakpoint;
    flex-direction: column;
    overflow: hidden;
    padding: $padding-defult;
    height: 100%;
    justify-content: space-between;
}

.newItemFormRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.newItemFormRow img {
    height: $form-icon-size;
    width: $form-icon-size;
    margin-right: $margin-medium;
}

.newItemTitle {
    font-family: $font-family-normal;
    font-size: $font-size-large;
    font-weight: bold;
    margin-top: calc($margin-defult * 2);
    color: $font-color;
}

.newItemForm {
    background: $background-color;
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    font-family: $font-family-normal;
    font-size: $font-size-normal;
    gap: calc($margin-defult + $margin-small);
    margin-bottom: auto;
    margin-top: auto;

    @media screen and (max-height: 780px) {
        // 780px literal, keep or variable?
        gap: $margin-defult;
    }
}

.newItemButtonRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: calc(4 * $margin-defult); // 4 multiplier
    gap: $margin-defult;
}
