.newItemContainer {
    background: #fff;
    display: flex;
    overflow: hidden;
    font-family: Inter, sans-serif;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.newItemContent {
    display: flex;
    min-width: 240px;
    width: 600px;
    flex-direction: column;
    overflow: hidden;
    padding: 50px 25px;
    height: 100%;
    justify-content: space-between;
}

.newItemFormRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    width: 100%;
}

.newItemFormRow img {
    height: 30px;
    width: auto;
    margin-right: 20px;
}

.newItemTitle {
    font-size: 24px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    margin-top: 50px;
    color: #000;
}

.newItemForm {
    background: #fff;
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    font-size: 16px;
    font-weight: 400;
    gap: 40px;
    margin-bottom: auto;
    margin-top: auto;

    @media screen and (max-height: 780px) {
        gap: 20px;
    }
}

.newItemButtonRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    margin-bottom: 70px;
    gap: 30px;
}

.newItemDeleteButton {
    align-self: stretch;
    width: 100%;
    border-radius: 8px;
    background: #ebf1ff;
    margin-bottom: 0px;
    min-height: 50px;
    font-size: 20px;
    color: #3772ff;
    border: none;
    cursor: pointer;
}

.newItemSubmitButton {
    align-self: stretch;
    width: 100%;
    border-radius: 8px;
    background: var(--highlight, #3772ff);
    margin-bottom: 0px;
    min-height: 50px;
    font-size: 20px;
    color: #fff;
    border: none;
    cursor: pointer;
}
