@use "../styles" as *;

.container {
    width: 100%;
}

.cardList {
    display: flex;
    flex-direction: row;
    gap: $padding-defult;
    padding: $padding-defult;
    padding-top: 0;

    @media (max-width: $mobile-breakpoint) {
        margin-top: 0;
        flex-direction: column;
        gap: $padding-medium;
        padding: 0 $padding-defult;
    }
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: $padding-defult;
    padding: $padding-defult;
    padding-top: 0;

    @media (max-width: $mobile-breakpoint) {
        display: flex;
        flex-direction: column;
        gap: $padding-medium;
        margin-top: $margin-medium;
        margin-bottom: calc(6 * $margin-medium);
    }
}

.gridItem {
    position: relative;
    width: 100%;
    border: none;
    height: $chart-height;

    &:nth-child(1) {
        grid-column: 1 / 2;
    }

    &:nth-child(2) {
        grid-column: 2 / 4;
    }

    &:nth-child(3) {
        grid-column: 1 / 2;
    }

    &:nth-child(4) {
        grid-column: 2 / 3;
    }

    &:nth-child(5) {
        grid-column: 3 / 4;
    }

    .content {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        display: grid;
        justify-items: start;
        align-items: end;
    }

    @media (max-width: $mobile-breakpoint) {
        display: flex;
        flex-direction: column;
    }
}
