@use "../styles" as *;

// Generated pattern background
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0;
    overflow: hidden;
    background-color: #a4e7ff;
    opacity: 0.8;
    background-image:
        linear-gradient(30deg, #037dff 12%, transparent 12.5%, transparent 87%, #037dff 87.5%, #037dff),
        linear-gradient(150deg, #037dff 12%, transparent 12.5%, transparent 87%, #037dff 87.5%, #037dff),
        linear-gradient(30deg, #037dff 12%, transparent 12.5%, transparent 87%, #037dff 87.5%, #037dff),
        linear-gradient(150deg, #037dff 12%, transparent 12.5%, transparent 87%, #037dff 87.5%, #037dff),
        linear-gradient(60deg, #037dff77 25%, transparent 25.5%, transparent 75%, #037dff77 75%, #037dff77),
        linear-gradient(60deg, #037dff77 25%, transparent 25.5%, transparent 75%, #037dff77 75%, #037dff77);
    background-size: 58px 102px;
    background-position:
        0 0,
        0 0,
        29px 51px,
        29px 51px,
        0 0,
        29px 51px;

    @media (max-width: $mobile-breakpoint) {
        height: 100%;
        justify-content: center;
        align-items: center;
    }
}

.panel {
    border-radius: $default-radius;
    background-color: $panel-background-color;
    display: flex;
    width: $login-panel-width;
    max-width: 100%;
    flex-direction: column;
    justify-content: start;
    padding: calc(2 * $padding-defult);
    box-sizing: border-box;

    .title {
        color: $font-color;
        font: $font-title;
        margin-bottom: $margin-small;
    }

    .subtitle {
        font: $font-normal;
        color: $subtitle-font-color;
    }

    .loginForm {
        display: flex;
        flex-direction: column;
        gap: $padding-defult;
    }

    .button {
        align-self: stretch;
        width: 100%;
        border-radius: $default-radius;
        background: $highlight-color;
        margin-top: $margin-defult;
        padding: $padding-medium;
        font: $font-bold;
        color: $background-color;
        border: none;
        cursor: pointer;
    }

    .spacer {
        display: flex;
        margin-top: $margin-defult;
    }

    @media (max-width: $mobile-breakpoint) {
        width: 100%;
        padding: 25vh calc(2 * $padding-defult) 0 calc(2 * $padding-defult);
        height: 100vh;
        flex-direction: column;
        overflow: hidden;
        overflow-y: auto;
        justify-content: start;
    }
}
