@use "../styles" as *;

.layout {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: $padding-defult;

    .content {
        border-radius: $default-radius;
        background-color: $panel-background-color;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        box-shadow: $panel-shadow;

        .menuHeaderContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: none;
            padding: $margin-defult;
            padding-bottom: 0;

            .contentTitle {
                font: $font-title;
            }
        }

        .actionButton {
            border: none;
            justify-content: center;
            align-items: center;
            border-radius: calc($action-button-size / 2);
            background-color: $highlight-color;
            display: flex;
            width: $action-button-size;
            height: $action-button-size;
            cursor: pointer;
            position: absolute;
            bottom: $action-button-size;
            right: $action-button-size;

            @media (max-width: $mobile-breakpoint) {
                display: none;
            }
        }
    }

    .darkOverlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $overlay-background;
    }

    @media (max-width: $mobile-breakpoint) {
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        box-sizing: border-box;
        padding: 0;

        .content {
            flex-grow: 1;
            overflow: auto;

            .menuHeaderContainer {
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                padding: 0 $margin-defult;
                padding: 0;
                width: 100%;

                .yearSelectorContainer {
                    padding-left: 0;
                    width: calc(100% - 2 * $padding-defult);
                    margin-left: $padding-defult;
                    margin-bottom: calc(2 * $padding-defult);
                }

                .contentTitle {
                    padding: $padding-defult;
                    padding-top: calc(3 * $padding-defult);
                }
            }
        }
    }
}
