@use "../styles" as *;

.transactionTable {
    border-radius: $default-radius;
    background: $background-color;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: start;
    margin: $margin-defult;

    .transactionHeader {
        background: $highlight-background-color;
        display: flex;
        width: 100%;
        align-items: center;
        color: $highlight-color;
        justify-content: start;
        flex-wrap: wrap;
        font-family: $font-family-normal;
        font-size: $font-size-normal;
        font-weight: bold;
    }

    .transactionHeaderCell {
        flex: 1;
        padding: $padding-medium $padding-defult;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.transactionCards {
    display: flex;
    flex-direction: column;
    gap: $padding-medium;
    margin: $margin-defult;
    & > :first-child .transactionDateDivider {
        margin-bottom: $margin-defult;
    }

    margin-bottom: calc(7 * $margin-medium);
}

.transactionDateDivider {
    margin-top: $margin-small;
    margin-bottom: $margin-small;
}

.transactionRowActionCell {
    width: $action-cell-width;
    flex-shrink: 0;
    display: flex;
    justify-content: start;
}
