@use "../styles" as *;

.transactionTable {
    border-radius: $default-radius;
    background: $background-color;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: start;
    margin: $margin-defult;

    .transactionHeader {
        background: $highlight-background-color;
        display: flex;
        width: 100%;
        align-items: center;
        color: $highlight-color;
        justify-content: start;
        flex-wrap: wrap;
        font: $font-bold;
    }

    .transactionHeaderCell {
        flex: 1;
        padding: $padding-medium $padding-defult;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.transactionCards {
    display: flex;
    flex-direction: column;
    gap: $padding-medium;
    margin: $margin-defult;
    & > :first-child .transactionDateDivider {
        margin-bottom: $margin-defult;
    }
}

.transactionDateDivider {
    margin-top: $margin-small;
    margin-bottom: $margin-small;
}
