.add-button {
    height: 40px;
    width: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
  }